h1 {
    color: blue;
    font-family: verdana;
    font-size: 300%;
}
 
body, html {
    height: 100%;
}
#p01 {
    color: green;
}

p.error {
    color: red;
}


a:link {
    color: green; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

.bg { 
    /* The image used */
    background-image: url("img/bg1.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*
    Scale the background image to be as large as possible so that the background area is completely covered 
    by the background image.
    Some parts of the background image may not be in view within the background positioning area
    */
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

 